body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  margin-top: 20px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 25px;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}
li {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}

img {
  margin-bottom: 0;
  display: inline;
  margin: 0 auto;
}

button.btn.btn-outline-info {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background: transparent;
  border-width: 1px;
  border-color:rgba(255, 255, 255, 0.15)
  border-radius: 0.375rem;
  display: inline-block;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
small {text-align: right;}
a.source-code {
  color: #00a8e9;
}

nav.navbar.bg-light {width: fit-content;

}

.container {
  max-width: 800px;
}
.weather-app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-body {
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  text-align: center;
}
.card {
  margin-left: 0px;
  border-width: 0px;
  margin-bottom: 20px;
}
.place-date {
  margin-top: 20px;
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(116, 112, 157, 0.5);
}

.temperature {
  font-size: 40px;
}

.units {
  font-size: 20px;
}
.list-group {
  max-width: 200px;
margin-top: 5px;
}

.col-6 {
  margin-top: 15px;
  padding-left: 300px;
}
.weather-forecast {
  border-radius: 15px;
  color: none;
}
.list-group-item {
  background-color: rgb(232, 245, 253);
  pointer-events: none;
}
#current-location-button {
  margin-left: 65px;
  width: 300px;
  background-color: rgb(232, 245, 253);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
}
#search-form {margin-right:25px;
margin-left: 50px;}
#forecast {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
#celsius-link {
  cursor: default;
}
#fahrenheit-link {
  cursor: default;
}
.nav-link {display: block;
margin-left:55px;
margin-right: 5px;}
